* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

// navbar
.navbar {
    padding: 1rem;
    border: 2px solid #d2d2d2;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 25px;
}

.navbar-expend-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #FFF;
    background-color: #3654dc;
    font-size: 1rem;
    width: 8em;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.4rem #131380;

    &:hover{
        color: #FFF;
        background-color: #3654dc;
    }

    &:active{
        color: white;
        box-shadow: 0 0.2rem #131380;
        transform: translateY(0.2rem);
    }

    &:hover:not(:disable){
        background-color: #3654dc;
        color: #fff;
    }

    &:disable{
        cursor: pointer;
        color: #FFF;
        background-color: #3654dc;
    }
}

// banner

#top-container{
    padding: 110px;
    background-color: #F7f9fc;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
    background-image: url("../img/banner-cidade.jpg");
    background-position: 0 900px;
    background-size: cover;
    filter: brightness(85%);
    color: #FFF;
    backdrop-filter: blur(5px);
}

#main-title {
    padding: 30px 0;
    font-size: 2rem;
}

#main-subtitle{
    font-size: 1rem;
    padding-bottom: 80px;
}

// formulário

#search-form {
    padding: 30px 100px;
}

#search-form .col-md-10, #search-form .col-md2 {
    padding: 0;
}

#search-form input, #search-form button {
    width: 105%;
    border-radius: 0;
    height: 48px;
    font-size: 18px;
}

// Lista
#jobs-container {
    padding: 0 100px;
    padding-bottom: 50px;
}

#job-list .list-group-item {
    margin-bottom: 8px;
    border: 1px solid #CCC;
    padding: 15px 100px;
    color: #212529;
    height: 120px;
}

#job-list .list-group-item p{
    font-size: 14px;
    margin-bottom: 5px;
}

#job-list .list-group-item.new-job {
    border: none;
    background-color: #FFF7CC;
}

#job-list-title{
    margin-bottom: 35px;
}

.list-group-item img {
    width: 100px;
    border: 1px solid #212529;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item a {
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #ffffff;
}

a:not([href]):not([tabindex]){
    color: #ffff;
    text-decoration: none;
}

.new-job-label {
    position: absolute;
    background-color: #FFD500;
    color: #4D5154;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    right: 150px;
    top: 40px;
    display: none;
}

.new-job .new-job-label {
    display: block;
}